body     {color: #ffffff; background: #000000 url("img/eternity.png"); margin: 0px; text-align: center;}
section  {max-width: 720px; margin: 0 auto;}
a        {color: #eb7399;}
h1		 {font-family: 'Teko', sans-serif; font-size: 64px; margin: 0 auto;}
h2		 {font-family: 'Teko', sans-serif; font-size: 40px; margin: 32px 0 0;}
h3		 {font-family: 'Saira Extra Condensed', sans-serif; font-size: 40px; margin: auto 8px; color: #000000; display: inline;}
p		 {font-family: 'Saira Extra Condensed', sans-serif; font-size: 24px;}
.banner  {background: #eb7399 url("img/banner-bg.png") no-repeat fixed center top; height: 240px;}
.banner div {background: url("img/banner-fg.png") repeat-x center bottom; height: 240px;}
.flex-container {display: flex; justify-content: center;}
.flex-container a {background: #ffffff; padding: 8px; margin: 8px; border-radius: 8px;}
.flex-container a:hover {background: #eb7399;}
.flex-container img {height: 32px; width: auto;}
.large-logo{height: 64px; width: auto;}
#milkButton {background:none; border:none; margin-top:50px;}
#eternity{height: 512px;}